/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
ul {
  list-style: none;
}

.youkoso {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-weight: 700;
  line-height:35px;
  font-size:27px;
  margin: 20px 33px 10px 33px;
}

.youkoso2 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin: 5px 40px 5px 65px;
}

.youkoso3 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin: 5px 40px 5px 65px;
}

.youkoso4 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin: 5px 0px 5px 30px;
}

.youkoso5 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin-top:50px;
}

table th {
  ont-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-size:14px;
  font-weight: 700;
}

table td {
  ont-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-size:14px;
  padding-left: 33px;
}

.books-form1 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-weight: 700;
  line-height:25px;
  font-size:20px;
  margin: 5px 0px 5px 30px;
}

.books-form2 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  width:90px;
  height:15px;
  line-height:20px;
  font-size:13px;
  margin: 5px 5px 5px 30px;
}

.books-form3 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  width:158px;
  height:5px;
  margin-left:30px;
  margin-bottom:20px;
}

.flash {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#008000;
  font-size:13px;
  margin: 40px 40px 5px 65px;
}

.edit {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:5px;
  font-size:13px;
  margin-left:30px;
}

.edit-form {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  width:50px;
  height:20px;
  margin-left:30px;
}

.edit2 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-size:13px;
  margin-left:30px;
  margin-top:45px;
}

.edit3 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-size:13px;
}

.alert-warning {
  background-color:#DCDCDC;
  width:500px;
  height:150px;
  text-align: center;
  border: 3px solid red;
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  font-size:13px;
  margin-left:30px;
}

.alert-warning2 {
  color:white;
  font-weight: 700;
  background-color:red;
  text-align: left;
  line-height: 30px;
  width:500px;
  height:30px;
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  font-size:13px;
  margin-bottom: 40px;
}


.field_with_errors {
  border: 3px solid red;
}